body, html
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    height: 100vh;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.masterContainer
{
    margin: 5px;
    flex-direction: column-reverse;
}

div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box
{
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    transition: height 5s;
}
.label
{
    margin: 10px;
}
.fillWidth
{
    display: flex;
    width: 100%;
}
.clm
{
    display: flex;
    flex-direction: column;
}

button, input, select
{
    background: white;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    border-radius: 10px;
    padding: 5px;
    color:black;
    border: none;
}
button
{
    padding: 15px;
    transition: background-color 0.3s;
}
button:hover
{
    border: none;
    background-color: lightgrey;
    transition: background-color 0.3s;
}
button:focus
{
    outline: 0;
}

.circle
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;

}
.note
{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 20px;
}
.fret
{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 10px;
}
.margin5px
{
    margin: 5px;
}

/*tab classes*/

.hidden
{
    display: none;
}

.tabContainer
{
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tab
{
    background-color: #606060;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
    color: white;
}
.active
{
    background-color: grey;
}

.tabContent
{
    display: none;
}
.help
{
    padding: 8px;
    font-size: medium;
    max-width: 350px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sub
{
    width: 100%;
    background-color: #404040;
    border-top-left-radius: 19.6px;
    border-top-right-radius: 19.6px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.subTabContainer
{
    flex-grow: 1;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.subTabContents
{
    display: none;
    width: 100%;
    border-radius: 20px;
    background-color: grey;
    font-size: small;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
.subTabMasterContainer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #404040;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
}
.flx-btm
{
    align-items: flex-end;
}
.flx-end
{
    justify-content: flex-end;
    padding: 0px;
    padding-right: 20px;
}
.activeCont
{
    display: flex;
    flex-direction: column;
}
.smallText
{
    font-size: small;
}
.h
{
    flex-direction: row;
}

@media only screen and (max-width: 420px)
{
    body, html
    {
        font-size: large;
    }
    button, input, select
    {
        font-size: small;
    }
}
@media only screen and (max-width: 375px)
{
    .h
    {
        flex-direction: column;
    }
}