body, html
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    height: 100vh;
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

@media only screen and (max-width: 380px)
{
    body, html
    {
        font-size: x-large;
    }
}

div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box
{
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
}
.label
{
    margin: 10px;
}
.fillWidth
{
    width: 100%;
}
.clm
{
    display: flex;
    flex-direction: column;
}

button, input, select
{
    background: white;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    border-radius: 10px;
    padding: 5px;
    color:black;
    border: none;
}
button
{
    padding: 15px;
}
button:hover
{
    border: none;
    background-color: lightgrey;
}
button:focus
{
    outline: 0;
}
.h
{
    flex-direction: row;
}
.circle
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;

}
.note
{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 20px;
}
.fret
{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 10px;
}